# SOVRA APEX: INSTITUTIONAL OWNERSHIP (v1.0_SOVRA)
# Every line of code is verifiably owned by the Architect.

*       @SOVRA-sovereign/architects
/SOVRA/ @SOVRA-sovereign/core-team
/src/app/ @SOVRA-sovereign/ux-architects
